@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <abbr title="Phone">Our phone is:</abbr> 231 080 1822. <br />Feel free to call us any time for questions.<br />

    <br />
    <br />
    You will find us in Thessaloniki, Ethnikis Antistashs 131, Kalamaria (pc:55134),<br />
    and in Athens, Ethnikis Antistaseos 84A, Halandri (pc: 15231).<br />

</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@dataverse.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@dataverse.com">Marketing@example.com</a>
</address>
